body{
  
    box-sizing: border-box;
    margin: 0px;
    overflow-x: hidden;
}
.main-content{
    min-height: 60vh;   
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px;
}


@media only screen and (max-width: 1000px) {
    .main-content {
        width: 100vw;
    }
}
