/* --- starting style greeting */
#greeting {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    overflow: hidden;
    margin: 0px auto 0px auto;
}
#greeting > :first-child {
    font-size: 14px;
    width: 300px;
    padding-left: 20px;
    flex-shrink: 0;
}
#greeting > :last-child {
    font-size: 14px;
    width: 300px;
    flex-shrink: 0;
    text-align: end;
    position: relative;
    right: 20px;
}
@media only screen and (max-width: 1000px) {
    #greeting {
        width: 100vw;
    }
}
@media only screen and (max-width: 550px) {
    #greeting > :first-child {
        width: 100vw;
    }
    #greeting > :last-child {
        width: 100vw;
    }
}
/* ---- end style greating ---- */
